body{
    margin:  0px;padding: 0px;height:  100vh;
}
#bg{
    height: 100vh;width: 100%;position: absolute;overflow: hidden;
}
#bg img{
    height: 120vh;width: 105%;-webkit-filter:blur(2px);position: absolute;top:50%;left: 50%;
    transform: translate(-50%,-50%);z-index: 1;
}
#main{
    width:45%;border-radius: 15px;position: absolute;top:60%;left: 35%;transform: translate(-50%,-50%);
    z-index: 999;background-color:teal;
    box-shadow: 20px 20px 10px black;}
#list{
    width:45%;position: absolute;top:49%;left: 130%;transform: translate(-50%,-50%);
    ;height:100%; background-color:white;
    font-family: monospace; font-weight:545;
    font-size: 15px;  overflow: auto; text-align: center;
    box-shadow: 10px 8px 10px 8px black;
}
#image img{
    height: 180px;width: 100%;margin-top: -5px;border-top-left-radius: 15px;border-top-right-radius: 15px;
}
#player{
    padding: 25px;color:whitesmoke;
}
#songTitle{
    width:300px;text-align: center;font-family: monospace;font-size: 18px;position: absolute;top:60%;
    left: 50%;
    transform: translate(-50%,-50%);  
}
#buttons{
    height: 50px;width: 100%;margin-top: 50px;position:relative;top:10%;left: 50%;transform: translate(-50%,-50%);
    
}
#next,#pre{
    width: 50px;height: 50px;border: 0;background-color:black;border-radius: 50%;outline: none;
    cursor: pointer;position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);
}
#next{
    width: 30px; height: 30px; left: 70%;
}
#pre{
    width: 30px; height: 30px;left: 30%;
}
#next img,#pre img{
    position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);
}
#btn{
    background-color: #4CAF50; border: none; color: white; padding: 15px 32px;
    text-align: center;font-size: 16px;margin: 4px 2px;cursor: pointer;left: 40%;
}
.beat{
        background-color: teal;border: none;border-radius: 10%;
        color: white;padding: 10px 20px;
        text-align: center;text-decoration: none; display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
        position: absolute;
        left: 35%;
        outline: none;
}
.beat:hover{
    background-color: black;
    color: white;
    font-size: 90%;

}

#search{
background-color:teal;
border: 1px solid white;
color: whitesmoke;
padding: 5px 8px;
font-size: 16px;
margin: 8px 4px;
cursor: pointer;
}

#inp{
    border: 2px solid teal;
    padding: 10px 15px ;
    border-radius: 10px;

}